## Federal Election Commission (FEC) Contributions for 2012 Presidential Election
#### Example modified from: Python for Data Analysis, Wes McKinney, O'Reilly Publishing 2018

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline                                            
# IPython "magic" command to display plots in notebook
from IPython.core.interactiveshell import InteractiveShell     # these two lines tell jupyter to display all output
InteractiveShell.ast_node_interactivity = "all"                # the default is to display only output of last line

In [2]:
url = 'https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/datasets/fec/P00000001-ALL.csv'
fec = pd.read_csv(url)
fec.info()

/Users/xianglongtan/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001731 entries, 0 to 1001730
Data columns (total 16 columns):
cmte_id              1001731 non-null object
cand_id              1001731 non-null object
cand_nm              1001731 non-null object
contbr_nm            1001731 non-null object
contbr_city          1001712 non-null object
contbr_st            1001727 non-null object
contbr_zip           1001620 non-null object
contbr_employer      988002 non-null object
contbr_occupation    993301 non-null object
contb_receipt_amt    1001731 non-null float64
contb_receipt_dt     1001731 non-null object
receipt_desc         14166 non-null object
memo_cd              92482 non-null object
memo_text            97770 non-null object
form_tp              1001731 non-null object
file_num             1001731 non-null int64
dtypes: float64(1), int64(1), object(14)
memory usage: 122.3+ MB

Let's see if we can handle the warning. Python uses zero-based indexing (indexing starts at 0), so column (6) refers to the seventh column - `contrb_zip`. Take a look at a few entries to see if we can figure out what's going on.

In [3]:
fec.head()

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num
0,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,3.6601e+08,RETIRED,RETIRED,250.0,20-JUN-11,NaN,NaN,NaN,SA17A,736166
1,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,3.6601e+08,RETIRED,RETIRED,50.0,23-JUN-11,NaN,NaN,NaN,SA17A,736166
2,C00410118,P20002978,"Bachmann, Michelle","SMITH, LANIER",LANETT,AL,3.68633e+08,INFORMATION REQUESTED,INFORMATION REQUESTED,250.0,05-JUL-11,NaN,NaN,NaN,SA17A,749073
3,C00410118,P20002978,"Bachmann, Michelle","BLEVINS, DARONDA",PIGGOTT,AR,7.24548e+08,NONE,RETIRED,250.0,01-AUG-11,NaN,NaN,NaN,SA17A,749073
4,C00410118,P20002978,"Bachmann, Michelle","WARDENBURG, HAROLD",HOT SPRINGS NATION,AR,7.19016e+08,NONE,RETIRED,300.0,20-JUN-11,NaN,NaN,NaN,SA17A,736166

In [4]:
fec.dtypes

cmte_id               object
cand_id               object
cand_nm               object
contbr_nm             object
contbr_city           object
contbr_st             object
contbr_zip            object
contbr_employer       object
contbr_occupation     object
contb_receipt_amt    float64
contb_receipt_dt      object
receipt_desc          object
memo_cd               object
memo_text             object
form_tp               object
file_num               int64
dtype: object

In [5]:
for col in fec:
    print(col, type(fec[col].iloc[0]))     # find type of each column

cmte_id <class 'str'>
cand_id <class 'str'>
cand_nm <class 'str'>
contbr_nm <class 'str'>
contbr_city <class 'str'>
contbr_st <class 'str'>
contbr_zip <class 'float'>
contbr_employer <class 'str'>
contbr_occupation <class 'str'>
contb_receipt_amt <class 'numpy.float64'>
contb_receipt_dt <class 'str'>
receipt_desc <class 'float'>
memo_cd <class 'float'>
memo_text <class 'float'>
form_tp <class 'str'>
file_num <class 'numpy.int64'>

In [ ]:
type(fec['contbr_zip'].iloc[0])

In [6]:
fec = pd.read_csv(url, dtype={'contbr_zip': str})
fec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001731 entries, 0 to 1001730
Data columns (total 16 columns):
cmte_id              1001731 non-null object
cand_id              1001731 non-null object
cand_nm              1001731 non-null object
contbr_nm            1001731 non-null object
contbr_city          1001712 non-null object
contbr_st            1001727 non-null object
contbr_zip           1001620 non-null object
contbr_employer      988002 non-null object
contbr_occupation    993301 non-null object
contb_receipt_amt    1001731 non-null float64
contb_receipt_dt     1001731 non-null object
receipt_desc         14166 non-null object
memo_cd              92482 non-null object
memo_text            97770 non-null object
form_tp              1001731 non-null object
file_num             1001731 non-null int64
dtypes: float64(1), int64(1), object(14)
memory usage: 122.3+ MB

In [8]:
fec.loc[:5]

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num
0,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,366010290,RETIRED,RETIRED,250.0,20-JUN-11,NaN,NaN,NaN,SA17A,736166
1,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,366010290,RETIRED,RETIRED,50.0,23-JUN-11,NaN,NaN,NaN,SA17A,736166
2,C00410118,P20002978,"Bachmann, Michelle","SMITH, LANIER",LANETT,AL,368633403,INFORMATION REQUESTED,INFORMATION REQUESTED,250.0,05-JUL-11,NaN,NaN,NaN,SA17A,749073
3,C00410118,P20002978,"Bachmann, Michelle","BLEVINS, DARONDA",PIGGOTT,AR,724548253,NONE,RETIRED,250.0,01-AUG-11,NaN,NaN,NaN,SA17A,749073
4,C00410118,P20002978,"Bachmann, Michelle","WARDENBURG, HAROLD",HOT SPRINGS NATION,AR,719016467,NONE,RETIRED,300.0,20-JUN-11,NaN,NaN,NaN,SA17A,736166
5,C00410118,P20002978,"Bachmann, Michelle","BECKMAN, JAMES",SPRINGDALE,AR,727647190,NONE,RETIRED,500.0,23-JUN-11,NaN,NaN,NaN,SA17A,736166

In [9]:
unique_cands = fec.cand_nm.unique()
unique_cands
unique_cands[2]

array(['Bachmann, Michelle', 'Romney, Mitt', 'Obama, Barack',
       "Roemer, Charles E. 'Buddy' III", 'Pawlenty, Timothy',
       'Johnson, Gary Earl', 'Paul, Ron', 'Santorum, Rick',
       'Cain, Herman', 'Gingrich, Newt', 'McCotter, Thaddeus G',
       'Huntsman, Jon', 'Perry, Rick'], dtype=object)

'Obama, Barack'

In [10]:
parties = {'Bachmann, Michelle': 'Republican',
           'Cain, Herman': 'Republican',
           'Gingrich, Newt': 'Republican',
           'Huntsman, Jon': 'Republican',
           'Johnson, Gary Earl': 'Republican',
           'McCotter, Thaddeus G': 'Republican',
           'Obama, Barack': 'Democrat',
           'Paul, Ron': 'Republican',
           'Pawlenty, Timothy': 'Republican',
           'Perry, Rick': 'Republican',
           "Roemer, Charles E. 'Buddy' III": 'Republican',
           'Romney, Mitt': 'Republican',
           'Santorum, Rick': 'Republican'}

In [11]:
fec.cand_nm[:5]
fec.cand_nm[0:5].map(parties)
# Add it as a column
fec['party'] = fec.cand_nm.map(parties)
fec.info()
fec['party'].value_counts()

0    Bachmann, Michelle
1    Bachmann, Michelle
2    Bachmann, Michelle
3    Bachmann, Michelle
4    Bachmann, Michelle
Name: cand_nm, dtype: object

0    Republican
1    Republican
2    Republican
3    Republican
4    Republican
Name: cand_nm, dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001731 entries, 0 to 1001730
Data columns (total 17 columns):
cmte_id              1001731 non-null object
cand_id              1001731 non-null object
cand_nm              1001731 non-null object
contbr_nm            1001731 non-null object
contbr_city          1001712 non-null object
contbr_st            1001727 non-null object
contbr_zip           1001620 non-null object
contbr_employer      988002 non-null object
contbr_occupation    993301 non-null object
contb_receipt_amt    1001731 non-null float64
contb_receipt_dt     1001731 non-null object
receipt_desc         14166 non-null object
memo_cd              92482 non-null object
memo_text            97770 non-null object
form_tp              1001731 non-null object
file_num             1001731 non-null int64
party                1001731 non-null object
dtypes: float64(1), int64(1), object(15)
memory usage: 129.9+ MB

Democrat      593746
Republican    407985
Name: party, dtype: int64

In [12]:
fec.contb_receipt_amt.describe()

count    1.001731e+06
mean     2.982352e+02
std      3.749667e+03
min     -3.080000e+04
25%      3.500000e+01
50%      1.000000e+02
75%      2.500000e+02
max      2.014491e+06
Name: contb_receipt_amt, dtype: float64

In [13]:
pd.options.display.float_format = '{:.2f}'.format

Now we can re-run the .describe cell above, and will see that it formats display floats to 2 decimal precision.

In [14]:
(fec.contb_receipt_amt > 0).value_counts()

True     991475
False     10256
Name: contb_receipt_amt, dtype: int64

In [15]:
fec = fec[fec.contb_receipt_amt > 0]

### Donation Statistics by Occupation and Employer

In [16]:
fec.contbr_occupation.value_counts()[:10]

RETIRED                                   233990
INFORMATION REQUESTED                      35107
ATTORNEY                                   34286
HOMEMAKER                                  29931
PHYSICIAN                                  23432
INFORMATION REQUESTED PER BEST EFFORTS     21138
ENGINEER                                   14334
TEACHER                                    13990
CONSULTANT                                 13273
PROFESSOR                                  12555
Name: contbr_occupation, dtype: int64

The next cell recodes some of the different ways 'NOT PROVIDED' was entered.  
Note that these recodings are *not* complete.   
It merely shows a few examples of possible recodings.

In [17]:
occ_mapping = {
   'INFORMATION REQUESTED PER BEST EFFORTS' : 'NOT PROVIDED',
   'INFORMATION REQUESTED' : 'NOT PROVIDED',
   'INFORMATION REQUESTED (BEST EFFORTS)' : 'NOT PROVIDED',
   'C.E.O.': 'CEO'
}

# If no value match for x (the key) , return x (the key itself)
def recode(x):
    return occ_mapping.get(x, x)
fec.contbr_occupation = fec.contbr_occupation.map(recode)

In [18]:
fec.contbr_occupation.value_counts()[:10]

RETIRED         233990
NOT PROVIDED     57151
ATTORNEY         34286
HOMEMAKER        29931
PHYSICIAN        23432
ENGINEER         14334
TEACHER          13990
CONSULTANT       13273
PROFESSOR        12555
NOT EMPLOYED      9828
Name: contbr_occupation, dtype: int64

In [19]:
# note: we can do the same as above with an anonymous function
# lambda: "i am declaring an anonymous function which i will never use again"
f = lambda x: occ_mapping.get(x, x)
fec.contbr_occupation = fec.contbr_occupation.map(f)

In [20]:
fec.contbr_occupation.value_counts()[:10]

RETIRED         233990
NOT PROVIDED     57151
ATTORNEY         34286
HOMEMAKER        29931
PHYSICIAN        23432
ENGINEER         14334
TEACHER          13990
CONSULTANT       13273
PROFESSOR        12555
NOT EMPLOYED      9828
Name: contbr_occupation, dtype: int64

In [21]:
fec.contbr_employer.value_counts()[:10]

RETIRED                                   206675
SELF-EMPLOYED                              94505
NOT EMPLOYED                               45877
INFORMATION REQUESTED                      36135
SELF                                       24385
INFORMATION REQUESTED PER BEST EFFORTS     22260
NONE                                       19929
HOMEMAKER                                  18269
SELF EMPLOYED                               6274
REQUESTED                                   4233
Name: contbr_employer, dtype: int64

In [22]:
emp_mapping = {
   'INFORMATION REQUESTED PER BEST EFFORTS' : 'NOT PROVIDED',
   'INFORMATION REQUESTED' : 'NOT PROVIDED',
   'REQUESTED' : 'NOT PROVIDED',
   'SELF' : 'SELF-EMPLOYED',
   'SELF EMPLOYED' : 'SELF-EMPLOYED',
}

# If no mapping provided, return x
f = lambda x: emp_mapping.get(x, x) 
fec.contbr_employer = fec.contbr_employer.map(f)

In [23]:
grouped = fec.groupby(['party', 'contbr_occupation'])['contb_receipt_amt'].aggregate(('sum', 'count'))
grouped = grouped[grouped['sum'] > 2000000]
grouped

                                     sum   count
party      contbr_occupation
Democrat   ATTORNEY          11141982.97   24451
           CEO                2074974.79    2855
           CONSULTANT         2459912.71    8430
           HOMEMAKER          4248875.80   12773
           LAWYER             3160478.87    7431
           NOT PROVIDED       4866973.96   24747
           PHYSICIAN          3735124.94   14845
           PROFESSOR          2165071.08   11545
           RETIRED           25305116.38  151115
Republican ATTORNEY           7477194.43    9835
           CEO                4211040.52    3671
           CONSULTANT         2544725.45    4843
           EXECUTIVE          4138850.09    3517
           HOMEMAKER         13634275.78   17158
           INVESTOR           2431768.92    1853
           NOT PROVIDED      20565473.01   32404
           OWNER              2408286.92    3729
           PHYSICIAN          3594320.24    8587
           PRESIDENT          4720923.76    4771
           RETIRED           23561244.49   82875

In [24]:
group2 = grouped['sum'].groupby(level=0, group_keys=False)
group2.nlargest(10)

party       contbr_occupation
Democrat    RETIRED             25305116.38
            ATTORNEY            11141982.97
            NOT PROVIDED         4866973.96
            HOMEMAKER            4248875.80
            PHYSICIAN            3735124.94
            LAWYER               3160478.87
            CONSULTANT           2459912.71
            PROFESSOR            2165071.08
            CEO                  2074974.79
Republican  RETIRED             23561244.49
            NOT PROVIDED        20565473.01
            HOMEMAKER           13634275.78
            ATTORNEY             7477194.43
            PRESIDENT            4720923.76
            CEO                  4211040.52
            EXECUTIVE            4138850.09
            PHYSICIAN            3594320.24
            CONSULTANT           2544725.45
            INVESTOR             2431768.92
Name: sum, dtype: float64

In [25]:
by_occupation = fec.pivot_table('contb_receipt_amt',
                                index='contbr_occupation',
                                columns='party', aggfunc='sum')
over_2mm = by_occupation[by_occupation.sum(1) > 2000000]
over_2mm

party                Democrat  Republican
contbr_occupation
ATTORNEY          11141982.97  7477194.43
CEO                2074974.79  4211040.52
CONSULTANT         2459912.71  2544725.45
ENGINEER            951525.55  1818373.70
EXECUTIVE          1355161.05  4138850.09
HOMEMAKER          4248875.80 13634275.78
INVESTOR            884133.00  2431768.92
LAWYER             3160478.87   391224.32
MANAGER             762883.22  1444532.37
NOT PROVIDED       4866973.96 20565473.01
OWNER              1001567.36  2408286.92
PHYSICIAN          3735124.94  3594320.24
PRESIDENT          1878509.95  4720923.76
PROFESSOR          2165071.08   296702.73
REAL ESTATE         528902.09  1625902.25
RETIRED           25305116.38 23561244.49
SELF-EMPLOYED       672393.40  1640252.54

In [26]:
plt.figure()

In [ ]:
over_2mm.plot(kind='barh')

In [ ]:
def get_top_amounts(group, key, n=5):
    totals = group.groupby(key)['contb_receipt_amt'].sum()
    return totals.nlargest(n)

In [ ]:
fec_mrbo = fec[fec.cand_nm.isin(['Obama, Barack', 'Romney, Mitt'])]

In [ ]:
grouped = fec_mrbo.groupby('cand_nm')
grouped.apply(get_top_amounts, 'contbr_occupation', n=10)
grouped.apply(get_top_amounts, 'contbr_employer', n=10)

### Bucketing Donation Amounts

Sometimes it is useful to make bins of continuous data. We can use the `cut` function to do this.

In [ ]:
bins = np.array([0, 1, 10, 100, 1000, 10000,
                 100000, 1000000, 10000000])
labels = pd.cut(fec_mrbo.contb_receipt_amt, bins)
labels[0:10]

In [ ]:
grouped = fec_mrbo.groupby(['cand_nm', labels])
grouped.size().unstack(0)

Relative percentages can be more useful than raw totals when comparing across categories. We can compute a relative percentage by dividing the total by the "row sum", the total contributions in each row.

In [ ]:
bin_sums = grouped.contb_receipt_amt.sum().unstack(0)
bin_sums
percent = bin_sums.div(bin_sums.sum(1), axis=0)
percent

In [ ]:
plt.figure()
percent[:-2].plot(kind='barh')  # exclude the last two rows in plot

### Donation Statistics by State

In [ ]:
grouped = fec_mrbo.groupby(['cand_nm', 'contbr_st'])

totals = grouped.contb_receipt_amt.sum().unstack(0).fillna(0)
totals = totals[totals.sum(1) > 100000]
totals[:10]

In [ ]:
percent = totals.div(totals.sum(axis=1), axis=0)
percent